a:link, a:active, a:visited {
text-decoration: none;
}
a:hover {
font-size: 1.2rem;
text-decoration: none;
}
* {
box-sizing: border-box;
margin: 0;
padding: 0;
}
body {
font-size: 1.2rem;
font-family: Arial, Helvetica, sans-serif;
background-image: url(./2cf296c94a91d9d7ef8eb5e5326398bd.jpg);
background-repeat: no-repeat;
background-size: cover;
background-position-x: center;
background-position-y: top;
}
html{
    font-size: 62.5%;
}
img{
    width: 100%;
}
.nav{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
}
.back{
    border-radius: 20px;
    background: #052e7e;
    padding: 4px;
    margin: 2px;
    display: flex;
    flex-direction: column;
}
.indice {
    padding: 2px 12px 0 12px;
    font-size: 1.4rem;
    text-align: end;
    color: #ffffff;
}
.logoUla{
    width: 80%;
}
.ttV{
    color: white;
    background-color: #000000;
    border-radius: 16px;
    font-size: 1.4rem;
    padding: 4px;
    text-align: center;
    margin: 8px 0 4px 0;
    
}
.formu{
    margin: 8px;
    border-radius: 8px;
    border: transparent;
    background: #ddefffad;
    padding: 4px;
}
.C1{
    border-radius: 8px;
    padding: 4px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    background-color:#232394;
}
.main-section{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    flex-wrap: wrap;
}


.boton1 { 
    width: 90%;
    color: rgb(0, 0, 102);
    border: solid 0.5px;
    border-radius: 12px;

}
.boton2 { 
    width: 90%;
    color: rgb(9 9 153);
    border: solid 0.1px;
    border-radius: 12px;
    font-size: 1.2rem;
    padding: 4px;
}
.tablas { 
border-left:2px solid #C0C0C0; 
border-right:2px solid #000000; 
border-top:2px solid #C0C0C0; 
border-bottom:2px solid #000000; 
padding:4px; 
background-color:#808080  ;
border-radius: 12px;
 }

.celda{ 
padding: 4px;
font-size: 1.2rem;
background-color: #efeffb;
text-align: center;
border-radius: 8px;
}
.celdas3{
    text-align: center;
}
.celda_titulo { 
border-radius: 4px;
padding:4px; 
background-color:#A6D2FF; 
font-size:1.2rem;   
}
.titulo_tabla { 
border-radius: 8px;
padding: 4px;
background-color:#232394; 
font-size:1.6rem; 
color:#FFFF00; 
text-align:center;
font-weight: 600;
}
#security_code {
    border-radius: 8px;
}
select {
    border-radius: 12px;
}

@media (min-width: 425px) {
    .logoUla{
        width: 35%;
    }
  }

  @media (min-width: 800px) {
    .logoUla{
        width: 30%;
    }
    .indice {
        font-size: 1.8rem;
        font-weight: 400;
    }
    .main-section{
        margin: 50px 10px 0 10px ;
    }
    .ttV{
        font-size: 1.8rem;
    }
  }
  @media (min-width: 1000px) {
    .logoUla{
        width: 20%;
    }
    .C1{
        font-size: 2rem;
    }
    .celda{
        font-size: 1.6rem;
    }
    .boton2{
        font-size: 1.6rem;
    }
    .celda_titulo{
        font-size: 1.6rem;
    }
    .indice {
        font-size: 1.8rem;
        font-weight: 600;
    }
    .ttV{
        font-size: 1.8rem;
        font-weight: 600;
    }
    .formu{
        width: 520px;
        height: 301px;
    }
  }